/* mobile-style.css
 * for all your mobile needs 
 *
 ******************************************/

/* Grid System
***************************************************************/
.box{
	min-height: 200px;
}

.grid{
	width: 100%;
	margin: 0;
	float: left;
	text-align: left;
}

.grid25{
	width: 100%;
	margin: 0;
	float: left;
}

.grid25left{
	width: 100%;
	margin: 0;
	float: left;
	clear: left;
}

.grid25right{
	width: 100%;
	margin: 0;
	float: left;
	clear: right;
}

.grid33{
	width: 100%;
	margin: 0;
	float: left;
}

.grid33left{
	width: 100%;
	margin: 0;
	float: left;
	clear: left;
}

.grid33right{
	width: 100%;
	margin: 0;
	float: left;
	clear: right;
}

.grid50left{
	width: 100%;
	margin: 0;
	float: left;
	clear: left;
}

.grid50right{
	width: 100%;
	margin: 0;
	float: left;
	clear: right;
}

.grid66left{
	width: 100%;
	margin: 0;
	float: left;
	clear: left;
}

.grid66right{
	width: 100%;
	margin: 0;
	float: left;
	clear: right;
}

.grid75left{
	width: 100%;
	margin: 0;
	float: left;
	clear: left;
}

.grid75right{
	width: 100%;
	margin: 0;
	float: left;
	clear: right;
}

.grid100{
	width: 100%;
	margin: 0;
	float: left;
	clear: both;
}

.gridbottom{
	margin-bottom: 1%;
}

/* Raw Grid
**********************************/

.raw25{
	width: 100%;
	margin: 0;
	float: left;
	overflow: hidden;
}

.raw33{
	width: 100%;
	margin: 0;
	float: left;
	overflow: hidden;
}

.raw50{
	width: 100%;
	margin: 0;
	float: left;
	overflow: hidden;
}

.raw66{
	width: 100%;
	margin: 0;
	float: left;
	overflow: hidden;
}

.raw75{
	width: 100%;
	margin: 0;
	float: left;
	overflow: hidden;
}

.raw100{
	width: 100%;
	margin: 0;
	float: left;
	overflow: hidden;
}

.device{
	width: 600px;
}

.tHide{
	display: none;
}

/* menu
********************************/

#menu li a{
	font-size: 0.6em;
	line-height: 1em;
	padding: 3px 5px;
}